---
extends: default

rules:
  line-length:
    max: 120
    level: warning
  indentation:
    spaces: 2
    indent-sequences: consistent
  comments:
    min-spaces-from-content: 1
  comments-indentation: false  # Required by ansible-lint
  document-start: disable
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
  braces:
    max-spaces-inside: 1  # Required by ansible-lint
  octal-values:
    forbid-implicit-octal: true  # Required by ansible-lint
    forbid-explicit-octal: true  # Required by ansible-lint

ignore: |
  .github/
  .git/
  venv/
  .venv/
  __pycache__/
